@model BlogDetailsWebModel
@{
    ViewBag.Title = "Thought Details";
}

<!-- Blogs - детальные данные одного блога, страница блогов -->
<header class="major">
    <h1>@ViewBag.Title</h1>
</header>

<div>
    <a class="button" asp-controller="Blog" asp-action="Index">
        Назад к ленте
    </a>
</div>

<div class="posts">
    <article>
        <vc:details-cart post="@Model.Post"></vc:details-cart>
        <vc:tags-list tags="@Model.Post.Tags"></vc:tags-list>
        <vc:comments-list comments="@Model.Post.Comments"></vc:comments-list>
    </article>
</div>
