@model HomeIndexWebModel
@{
    ViewBag.Title = "Блог";
}

<!-- Section - список заметок блога, домашняя страница -->
<header class="major">
    <h1>@ViewBag.Title</h1>
</header>

<div class="posts">
    @foreach (var e in Model.Posts)
    {
        <vc:post-cart post="e"></vc:post-cart>
    }
</div>
