<ul class="icons">
    <li>
        <a href="#">
            <i class="fa fa-user-plus"></i>&nbsp;Регистрация
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-users"></i>&nbsp;Вход
        </a>
    </li>
</ul>
