<header class="major">
    <h2>Облако тегов</h2>
</header>
<ul class="tag_cloud_list actions">
    <li>
        <a href="#" class="badge badge-pill badge-primary tag"><span>tag_1</span>
        </a>
    </li>
    <li>
        <a href="#" class="badge badge-pill badge-primary tag">tag_2_long 
        </a>
    </li>
    <li>
        <a href="#" class="badge badge-pill badge-primary tag">tag_3_very_long
        </a>
    </li>
    <li>
        <a href="#" class="badge badge-pill badge-primary tag">tag_4_very_long 
        </a>
    </li>
    <li>
        <a href="#" class="badge badge-pill badge-primary tag">tag_5 
        </a>
    </li>
</ul>
