@model List<Tag>
<header class="major">
    <h2>Облако тегов</h2>
</header>


<ul class="cloud-tags">
    @foreach (var item in Model)
    {
        <li> <a asp-controller="Blog" asp-action="GetPostByTag" asp-route-tagName="@item.Name"> @item.Name </a> </li>
    }
</ul>
