<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title | Thoughts</title>

    <!-- Styles -->
    @await Html.PartialAsync("Partial/_Styles")

    @*  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/m.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Thoughts.UI.MVC.styles.css" asp-append-version="true" />*@
    
    @await RenderSectionAsync("Styles", false)
</head>
<body>
    <div class="page-wrapper">
        <div class="page-wrapper-top">
            <div id="wrapper">

                <div id="main">
                    <div class="inner">

                        <!-- Header -->
                        <partial name="Partial/_Header" />

                        <section>

                            <!-- Body -->
                            @RenderBody()

                        </section>

                    </div>
                </div>

                <!-- Left Sidebar (Menu) -->
                <partial name="Partial/_LeftSideBar" />

            </div>
        </div>

        <!-- Footer -->
        <partial name="Partial/_Footer" />

    </div>


    <!-- Scripts -->
    <partial name="Partial/_Scripts" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
