<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title | Thoughts</title>

    @await Html.PartialAsync("Partial/_Styles")

@*    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/m.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Thoughts.UI.MVC.styles.css" asp-append-version="true" />*@

</head>
<body>
        <div class="page-wrapper">
        <div class="page-wrapper-top">
            <div id="wrapper">

                <div id="main">
                    <div class="inner">

                        <!-- Header -->
                        <partial name="Partial/_Header"/>

                        @RenderBody()    

                    </div>
                </div>

                <!-- Left Sidebar -->
                <partial name="Partial/_LeftSideBar"/>

            </div>
        </div>

    <!-- Left Sidebar -->
    <partial name="Partial/_Footer"/>
        
    </div>
              
    <partial name="Partial/_Scripts"/>
</body>
</html>
