@inherits LayoutComponentBase

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <NavLink class="nav-link" ActiveClass="active" href="counter" @onclick="NavClickCallback">
            Counter
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" ActiveClass="active" href="about" @onclick="NavClickCallback">
            About
        </NavLink>
    </li>
</ul>

<div class="d-flex">
    <NavLink class="btn btn-info me-1" href="#" @onclick="NavClickCallback">
        Регистрация
    </NavLink>
    <NavLink class="btn btn-info me-1" href="#" @onclick="NavClickCallback">
        Вход
    </NavLink>
</div>

@code {
    [Parameter]
    public EventCallback NavClickCallback { get; set; }
}