<div class="footer-container">
    <div class="container">
        <!-- Section -->
        <div>
            <div class="major">
                <h2>Contact us</h2>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, accusamus?</p>
            <ul class="icons">
                <li><a href="#" class="icon fa-paper-plane"><span class="label">Telegram</span></a></li>
                <li><a href="#" class="icon fa-git"><span class="label">Git</span></a></li>
                <li><a href="#" class="icon fa-globe"><span class="label">Site</span></a></li>
            </ul>
        </div>

        <!-- Footer -->
        <div class="footer">
            <p class="copyright">&copy; Thougts by GeekBrains. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>. Backend: <a href="#">.NET interns-developers of GeekBrains</a>. </p>
            <p class="copyright">Alma mater: <a href="https://gb.ru/">GeekBrains</a></p></div>
    </div>
</div>