<header id="header">
    <span class="logo"><a asp-controller="Home" asp-action="Index"> <img src="~/img/Logo.svg" alt="Thougts" width="40%"></a><br> Project <strong>Thougts</strong> by .NET interns-developers of GeekBrains</span>

    <ul class="icons">
        <li>
            <a href="#">
                <i class="fa fa-user-plus"></i>&nbsp;Регистрация
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-users"></i>&nbsp;Вход
            </a>
        </li>
    </ul>
</header>