<header id="header">
    <span class="logo"><a asp-controller="Home" asp-action="Index"> <img src="~/img/Logo.svg" alt="Thougts" width="40%"></a><br> Project <strong>Thougts</strong> by .NET interns-developers of GeekBrains</span>

    <vc:user-info/>
</header>