<div id="sidebar">
    <div class="inner">
        <!-- Search -->
        <vc:search></vc:search>
        <!-- Menu -->
        <vc:left-menu></vc:left-menu>
        <!-- Облако тегов -->
        <partial name="Partial/_TagCloud"/>
    </div>
</div>